body {
  background-color: #3b4252;
  color: #eceff4
}

main {
  max-width: 360px;
  margin: 30px auto;
}

h1 {
  text-align: center;

}

span {
  color: #b48ead;
}

form div{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form input {
  display: grid;
  background-color: #eceff4;


  width: 90%;
  border: 2px solid #4c566a;
  border-radius: 6px;
}

::selection {
  color: #3b4252;
  background: #d8dee9
}

form input:hover {
  background-color: #8fbcbb;
}

form button {
  width: 100%;
}

form button:hover {
  width: 100%;
  border: 2px solid #4c566a;
  border-radius: 3px;
  color: #3b4252;
  background-color: #8fbcbb;
}

